In [5]:
import seaborn as sns
import pandas as pd

iris = sns.load_dataset("iris")
result= iris.loc[:,['sepal_length','species']]
result.head(1)

   sepal_length species
0           5.1  setosa

In [1]:
result.to_excel("dataset/iris_excel_file.xlsx",
                sheet_name='sheet_name_1',
                index=False)

NameError: name 'result' is not defined

# Group by 연산
- 집계함수 같이 활용
- 분석의 목적 : 그룹별로 비교하고 싶을 때 사용
(분석의 첫 시작 - 비교)

In [10]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

# 성별로 tip 평균구하기

In [15]:
tips.groupby('sex', observed=True)['tip'].mean()

# 통계적으로 유의한가 : 기초 통계 영역으로 넘어감.

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

# 요일별 총 결제 금액 구하기

In [22]:
# 요일별 총 결제 금액 구하기
# 집계함수 : sum()
tips.groupby('day', observed=True)['total_bill'].sum()

day
Thur    1096.33
Fri      325.88
Sat     1778.40
Sun     1627.16
Name: total_bill, dtype: float64

# 요일 성별로 팁 평균

In [27]:

tips.groupby(['day','sex'], observed=True)['total_bill'].sum()

day   sex
Thur  Male       561.44
      Female     534.89
Fri   Male       198.57
      Female     127.31
Sat   Male      1227.35
      Female     551.05
Sun   Male      1269.46
      Female     357.70
Name: total_bill, dtype: float64

# 식사 시간별

In [24]:
tips.groupby('time', observed=True)['size'].mean()

time
Lunch     2.411765
Dinner    2.630682
Name: size, dtype: float64

## 두가지 범주 그룹바이 출력 변환

In [34]:
result = tips.groupby(['day','sex'],observed=True)['tip'].mean()
# result type
result.unstack() #히트맵 시각화로 바로 적용
# result.unstack() DataFrame

sex       Male    Female
day
Thur  2.980333  2.575625
Fri   2.693000  2.781111
Sat   3.083898  2.801786
Sun   3.220345  3.367222

## 집계함수 2개 사용하기

In [52]:
# tips.groupby(['day','sex'],observed=True)['tip'].agg(['sum','mean'])
#.agg(['sum','mean'])
result = tips.groupby(['day','sex'],observed=True)[['tip','total_bill']].agg(['sum','mean'])
result.columns = ['_'.join(col) for col in result.columns]
result.reset_index().to_csv('reset_index.csv',index=False)