## 라이브러리 불러오기

In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl

print(np.__version__)
print(pd.__version__)
print(sns.__version__)
print(mpl.__version__)

2.2.4
2.2.3
0.13.2
3.10.1

## 샘플데이터 가져오기

In [10]:
iris = sns.load_dataset("iris")
iris.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [11]:
tips = sns.load_dataset("tips")
tips.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

## 결측치 확인
- 데이터가 비어있나 ?

In [12]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [13]:
iris.shape

(150, 5)

In [14]:
tips.shape

(244, 7)

In [15]:
a=tips['day']
type(a)

pandas.core.series.Series

In [16]:
type(tips)

pandas.core.frame.DataFrame

In [17]:
tips['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

# 상위 5개만 보기
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nlargest.html
- 관련 메서드
    + DataFrame.nsmallest
    + DataFrame.sort_values
    + DataFrame.head

In [18]:
# 숫자열을 sort() 내림차순 정렬
# 상위 5개만 인덱싱
iris.nlargest(5,"sepal_length")
# 유명한 라이브러리 공부할떄는 비슷한게있는지 공식문서에서 확인(있을수도없을수도) ex) 영어 동사 배울때 비슷한유형의 동사를외우듯 
# 꼭 공식문서 하이퍼링크 달아두기

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

## 필터링 
- numpy와 문법동일

In [19]:
# tips의 평균 구하기
# 평균보다 큰 데이터만 조회
mean_tip = tips['tip'].mean()
#numpy 문법 ==> a[a>2]
tips[tips['tip']> mean_tip].head(1)

   total_bill  tip   sex smoker  day    time  size
2       21.01  3.5  Male     No  Sun  Dinner     3

In [20]:
tips[tips['tip']> tips['tip'].mean()].head(1)

   total_bill  tip   sex smoker  day    time  size
2       21.01  3.5  Male     No  Sun  Dinner     3

- smoker 가 NO 인것만 조회

In [21]:
tips[tips['smoker'] == 'No']

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
235       10.07  1.25    Male     No   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[151 rows x 7 columns]

In [22]:
#day sat
tips['day'].value_counts()
tips[tips['day'] == 'Sat'].shape

(87, 7)

In [23]:
#index번호 초기화 방법
#time Dinner인것 조회
#head(1) 조회 
tips[tips['time'] == 'Dinner'].reset_index(drop=True).head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

# loc vs iloc
- 코드비교

## loc

In [24]:
tips[tips['time'] == 'Dinner'].reset_index(drop=True).head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

In [25]:
# tips[tips['day'] == 'Sat']
# tips.loc[행,열]
tips.loc[0:1,['total_bill','tip','day']]

   total_bill   tip  day
0       16.99  1.01  Sun
1       10.34  1.66  Sun

In [26]:
tips.iloc[0:1,[0,1,4]]

   total_bill   tip  day
0       16.99  1.01  Sun

In [27]:
#total_bill 11이하인것만조회
#tips.loc[행 조건식만 만들자!:,:]
tips.loc[tips['total_bill'] <= 11,:]

     total_bill   tip     sex smoker   day    time  size
1         10.34  1.66    Male     No   Sun  Dinner     3
6          8.77  2.00    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
30         9.55  1.45    Male     No   Sat  Dinner     2
43         9.68  1.32    Male     No   Sun  Dinner     2
51        10.29  2.60  Female     No   Sun  Dinner     2
53         9.94  1.56    Male     No   Sun  Dinner     2
67         3.07  1.00  Female    Yes   Sat  Dinner     1
75        10.51  1.25    Male     No   Sat  Dinner     2
82        10.07  1.83  Female     No  Thur   Lunch     1
92         5.75  1.00  Female    Yes   Fri  Dinner     2
111        7.25  1.00  Female     No   Sat  Dinner     1
117       10.65  1.50  Female     No  Thur   Lunch     2
126        8.52  1.48    Male     No  Thur   Lunch     2
135        8.51  1.25  Female     No  Thur   Lunch     2
136       10.33  2.00  Female     No  Thur   Lunch     2
145        8.35  1.50  Female     No  Thur   Lunch     2
148        9.78  1.73    Male     No  Thur   Lunch     2
149        7.51  2.00    Male     No  Thur   Lunch     2
168       10.59  1.61  Female    Yes   Sat  Dinner     2
169       10.63  2.00  Female    Yes   Sat  Dinner     2
172        7.25  5.15    Male    Yes   Sun  Dinner     2
178        9.60  4.00  Female    Yes   Sun  Dinner     2
195        7.56  1.44    Male     No  Thur   Lunch     2
196       10.34  2.00    Male    Yes  Thur   Lunch     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
226       10.09  2.00  Female    Yes   Fri   Lunch     2
233       10.77  1.47    Male     No   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2

In [29]:
#time이 Dinner인것만 조회 loc 적용
tips.loc[tips['day']=='Sat':1,['total_bill','tip','day']].reset_index(drop=Ture)

InvalidIndexError: 0      False
1      False
2      False
3      False
4      False
       ...
239     True
240     True
241     True
242     True
243    False
Name: day, Length: 244, dtype: bool

In [ ]:
#time이 Dinner이면서 total_bill 11이하 
result = tips.loc[tips['time']=='Dinner',:]
result.loc[result['total_bill'] <= 11, :]

In [ ]:
tips[tips['day'] == 'Sat',['total_bill','tip','day']].resrt_index(drop=True)

In [ ]:
#iris 
#품종이 virginica 이면서 sepal_laenth =>5 인값만 가져오고
#퀄럼은 sepal_length, petal_length,species 만가져오세요
# Loc 기반으로
#time이 Dinner이면서 total_bill 11이하 
# result = iris.loc[iris['species'] == 'virginica',:]
# result.loc[result['species'], :]

#iris.loc[(조건식1)OR(조건식2),['sepal_length','petal_length','species']]
#iris.loc[(조건식1)|(조건식2),['sepal_length','petal_length','species']]

iris.loc[(iris['species'] == 'verginica')|(iris['sepal_length'] >= 5 ),['sepal_length','petal_length','species']]

In [ ]:
iris.loc[(iris['species']=='virginica') &(iris['species']), :]
# 조건식2개

# 파일 입출력
-csv
-excel

In [ ]:
import seaborn as sns
import pandas as pd

iris = sns.load_dataset("iris")
result= iris.loc[:,['sepal_length','species']]
result

## CSV

In [ ]:
#파일내보내기
# result.to_csv("iris_result.csv",index=False)
#경로지정해서 파일내보내기
result.to_csv("dataset/iris_result.csv",index=False)

In [ ]:
#파일불러오기
iris_df = pd.read_csv("dataset/iris_result.csv")
iris_df